.grid{
    > div{
        float:left;
        min-height: 1px;
        text-align: center;
    }  
};


@mixin mobile {
    @media screen and (min-width:480px) {
        @content
    }
};

@include mobile{
    .grid{
        > .col-12 {
            width: calc(100% / 1);
            background-color: lightgoldenrodyellow;
            
        }
        >  .col-6 {
            width: calc(100% / 2);
            background-color: lightgrey;
          }
        >  .col-4 {
            width: calc(100% / 3);
            background-color: lightpink;
          }
        > .col-3 {
            width: calc(100% / 4);
            background-color: lightgreen;
          }
        >  .col-2 {
            width: calc(100% / 6);
            background-color: lightcoral;
          }
        > .col-1 {
            width: calc(100% / 12);
            background-color:lightcyan ;  
          }
    }
};



@mixin tablet {
    @media screen and (min-width:780px) {
        @content
    }
};

@include tablet{
    .grid{
        > .col-12 {
            width: calc(100% / 1);
            background-color:lightcyan ;
            
        }
        >  .col-6 {
            width: calc(100% / 2);
            background-color: lightgoldenrodyellow;
          }
        >  .col-4 {
            width: calc(100% / 3);
            background-color: lightgrey;
          }
        > .col-3 {
            width: calc(100% / 4);
            background-color: lightpink;
          }
        >  .col-2 {
            width: calc(100% / 6);
            background-color: lightgreen;
          }
        > .col-1 {
            width: calc(100% / 12);
            background-color:lightcoral ;  
          }
    }
};

@mixin screen {
    @media screen and (min-width:1080px) {
        @content
    }
};

@include screen{
    .grid{
        > .col-12 {
            width: calc(100% / 1);
            background-color: lightcoral;
            
        }
        >  .col-6 {
            width: calc(100% / 2);
            background-color: lightcyan;
          }
        >  .col-4 {
            width: calc(100% / 3);
            background-color: lightgoldenrodyellow;
          }
        > .col-3 {
            width: calc(100% / 4);
            background-color: lightgrey;
          }
        >  .col-2 {
            width: calc(100% / 6);
            background-color: lightpink;
          }
        > .col-1 {
            width: calc(100% / 12);
            background-color: lightgreen;  
          }
    }
    
};
