html, body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 80px;
    background-color: coral;
    color: #fff;
}



a{
    color:coral;
}

.temas{
    border: solid 1px red;
}

button.primary{
    background-color: purple;
    color: #fff;
}

.temas > div{
    width: 25%;
    background-color: lightblue;
    float:left;
}

.temas::after{
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 500px){
    .temas>div{
        float:left;
        width: 50%;
    }
}

@media only screen and (min-width: 900px){
    .temas>div{
        width: 25%;
    }
}

.grid > div{
    height: auto;
    float:left;
    width: calc(100%/12);
    
}
.grid::after{
    content: "";
    display: table;
    clear: both;
}